*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import "components/Footer/Footer.css";
@import "components/Header/Header.css";
@import "components/Home/Home.css";
@import "components/Property/Property.css";
@import "components/ListProperties/ListProperties.css";
@import "components/Loading/Loading.css";
@import "components/PropertyDetail/PropertyDetail.css";

body{
    
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f2f2f2;
}
.bg-green{
    background: #f2f2f2;
    
}
.bg-darkBrown{
    background: #bec4c3;
}

.ui.cards {
    display: flex;
    margin: 0px !important;
    margin-top: 6px;
    flex-wrap: wrap;
}



h4{
    color: #adadad;
}

